<%- include('partials/header') %>
	<div class="jumbotron jumbotron">
	  <h1><%= title %></h1>
	  <p class="lead">
	    <a class="btn btn-primary" href="/login" role="button">Login</a>
	    <a class="btn btn-success" href="/signup" role="button">Signup</a>
	  </p>
	</div>
<%- include('partials/footer') %>
